@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);

#header1-1 H1 {
  font-family: 'Playfair Display', sans-serif;
  color: #ffffff;
}
#msg-box3-5 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-5 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-5 .mbr-section-title {
  text-align: left;
}
#msg-box3-5 .lead {
  text-align: left;
}
#content5-o .mbr-section-title {
  text-align: right;
}
#msg-box4-i .mbr-section-title {
  text-align: center;
}
#msg-box4-i small {
  font-size: 20px;
}
#msg-box4-k small {
  font-size: 20px;
}
#content5-q .mbr-section-title {
  text-align: right;
}
#content5-u .mbr-section-title {
  text-align: right;
}
